# mongodb url
MONGO_URL=monogodb://user:password@ip:port/dbname

# set to true if you want to
# periodically remove expired instances
CLEANUP=true
# how often to run the cleanup
# a cron expression (e.g. * * * * *)
# works from minute up
CLEANUP_INTERVAL_CRON="* * * * *"
# the "age" of the most recent heartbeat of an instance to be considered expired
# in hours
CLEANUP_INSTANCE_AGE_IN_HOURS=1